@font-face { font-family: 'EnvyCodeR'; src: url('fonts/Envy Code R.ttf')  format('truetype'); }
@font-face { font-family: 'Overpass Regular'; src: url('fonts/Overpass_Regular.ttf')  format('truetype'); }
@font-face { font-family: 'Francois One Regular'; src: url('fonts/FrancoisOne.ttf')  format('truetype'); }
@font-face { font-family: 'Pfennig Medium'; src: url('fonts/Pfennig.ttf')  format('truetype'); }
@font-face { font-family: 'Clear Sans Light Regular'; src: url('fonts/ClearSans-Light.ttf')  format('truetype'); }
@font-face { font-family: 'DejaVu Sans Mono Book'; src: url('fonts/DejaVuSansMono.ttf')  format('truetype'); }
@font-face { font-family: 'DejaVu Sans Condensed'; src: url('fonts/DejaVuSansCondensed.ttf')  format('truetype'); }

body    { background-color: white; color: black; font-family: 'DejaVu Sans Mono Book'; font-size: 8pt; cursor: default; }
.topatas a { color: #393; text-decoration: none; padding: 2px; display: inline-block; }
.topatas a:hover { color: #050; background-color: white; }
a       { color: maroon; text-decoration: none; padding:2px; }
a:hover { background-color: blue; color: white; }
.data    { font-size: 8pt; width: 100%; border-collapse: collapse; }
.data td { border-style: none solid; border-width: 1px; text-align: center; padding: 4px; }
.data td:nth-child(2) { text-align: left; }
.data td:nth-child(3) { text-align: left; }
.data tr:nth-child(odd) { background-color: #eee; }
.data tr:last-child td { border-style: none solid solid solid; border-width: 1px; }
.data tr:hover { background-color: maroon; color: white; }
.data tr:hover a { color:white; }
.data tr:hover a:hover { background-color: maroon; color: lime; }
.data th { border-style: solid; border-width: 1px; }
.running  { color: green; }
.stopping { color: red; }
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb { background: rgba(55,55,55,0.8); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(55,55,55,0.4); }
.data2    { font-size: 10pt; width: 100%; border-collapse: collapse; }
.data2 td { border-style: none solid; border-width: 1px; padding: 4px; cursor: default; }
.data2 td:first-child { width: 40px; }
.data2 tr:nth-child(odd) { background-color: #eee; }
.data2 tr:first-child td { border-style: solid solid none solid; border-width: 1px; }
.data2 tr:last-child td { border-style: none solid solid solid; border-width: 1px; }
.data2 tr:hover { background-color: maroon; color: white; }
.data2 tr:hover a { color: white; }
.data2 tr:hover a:hover { background-color: maroon; color: yellow; }
.data2 th { border-style: solid; border-width: 1px; }
.kanan { text-align: right; padding-right: 5px; }
.tengah { text-align: center; }
.tbl { font-family: 'DejaVu Sans Mono Book'; font-size: 10pt; padding: 3px 6px; }
input, select { font-family: 'DejaVu Sans Mono Book'; font-size: 8pt; padding: 2px; }
#dlg    { overflow: hidden; border:5px solid maroon; border-radius: 5px 5px 3px 3px; background-color:maroon; color:#fff;
          font-family: cursive; font-size:10pt; box-shadow: 0px 0px 8px #000; z-index: 110; }
#dlg div.caption { padding:3px; font-weight: bold; font-size: 12pt; }
.cbtn { color: red; text-decoration: none; vertical-align: middle; }
.cbtn:hover { background-color: transparent; color: yellow; }
.garis1 { border-bottom: 1px solid #000; }
.garis2 { box-shadow: 0px 3px 5px #000; }
.blok { background-color: maroon; margin-left:3px; color: white; padding:2px; border-radius: 2px; font-weight: bold; font-family: 'DejaVu Sans Mono Book'; font-size:6pt; float: right; }
.blokc { margin-left:3px; padding:2px; border-radius: 2px; font-weight: bold; float: right; }
#navi { position: fixed; right: 10px; top: 10px; padding: 4px; z-index: 9; font-size: 24pt; }
#navi a { color: rgba(0,0,0,0.2); background-color: transparent; border: none; text-decoration: none; }
#navi a:hover { color: rgba(0,0,0,0.8); }
.merah { color: maroon; font-weight: bold; }
.badge { display: inline-block; padding: 0px; border-radius: 3px; border: 1px solid #aaa; }
.badge2 { display: inline-block; padding: 5px; border-radius: 3px; border: 1px solid #aaa; }
.badge a { color: #393; text-decoration: none; padding: 5px; display: inline-block; }
.badge a:hover { color: #050; background-color: #ff5; }
button { font-family: 'DejaVu Sans Condensed'; font-size: 8pt; min-width: 80px; }
.lab { display: inline-block; font-family: sans-serif; font-size: 7pt; padding: 2px 6px; background-color: #bb0; font-weight: normal; border: 1px solid #666; border-radius: 3px; min-width: 65px; text-align: center; }
.lac { font-family: sans-serif; font-size: 7pt; padding: 2px 6px; background-color: #aa5; font-weight: normal; border: 1px solid #666; border-radius: 3px; }
button.big { font-family: 'DejaVu Sans Condensed'; font-size: 8pt; min-width: 70px; padding: 8px; border-radius: 4px; background-color: #ff9; color:navy; }
button.big:hover { background-color: #dd3; }
.gap { margin-bottom: 4px; }